<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-4 col-md-4
                    col-sm-8 col-sm-offset-2
                    col-xs-12
                    ">
            <div class="loginPanel">
                <div class="login">
                    <div id="title">{{ title }}</div>
                    <div *ngIf="view=='choose-table'; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <form [formGroup]="form">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">                                        
                                        <div 
                                            [ngClass]="warning != null?'alert-danger':''" 
                                            class="alert warningMessage">{{ warning }}
                                        </div>
                                        <input 
                                            formControlName="table"
                                            class="inputStyle form-control" 
                                            type="text" 
                                            name="table_no" 
                                            placeholder="Table No."
                                            (click)="resetWarningMessage();"
                                            (keyup.enter)="next()"
                                        >                                    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <input 
                                            class="btn btn-info btn-md loginButton" 
                                            type="button" 
                                            name="loginbutton" 
                                            value="NEXT"
                                            (click)="next()"
                                        >
                                    </div>
                                </div>
                            </div>                        
                        </form>
                    </ng-template>
                    <ng-template #elseBlock>
                        
                    </ng-template>
                                        
                </div>
            </div>
        </div>
    </div>
</div>
