<p>viewmenu works!</p>
<span>Non Special</span>
<form [formGroup]="categoryForm">
    <select 
        name="" id=""
        formControlName="categoryname">
        <option 
            (click)="changeCategoryType('all')"
            value='All'>All</option>
        <option 
            (click)="changeCategoryType('non-special')"
            *ngFor="let cat of categories" 
            [value]="cat.mcId">{{ cat.mcName }}</option>
        <option 
            (click)="changeCategoryType('special')"
            *ngFor="let cat of specialcategories" 
            [value]="cat.mcId">{{ cat.mcName }}</option>
    </select>
</form>

<br><br>
<div *ngFor="let menu of menus; let i = index">
    <li>{{ menu.mId }}</li>
    <li>{{ menu.mName }}</li>
    <li>{{ menu.mDescription }}</li>
    <li>{{ menu.mPrice }}</li>
    <li>{{ menu.menuCategory }}</li>
    <li>{{ menu.menuSpecialCategory }}</li>
    <button>add</button>
    <br><br><br>
</div>
